<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029256043715-ar9g6cmusroafinul7rg80dmqj630a5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029256043715-ar9g6cmusroafinul7rg80dmqj630a5b</string>
	<key>API_KEY</key>
	<string>AIzaSyBvaLZ_ib4a_RE4BvCaqvOqTHaXTLgR01Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1029256043715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.demo2</string>
	<key>PROJECT_ID</key>
	<string>demo2-a52ec</string>
	<key>STORAGE_BUCKET</key>
	<string>demo2-a52ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029256043715:ios:18ef1738f610e0c5a1d676</string>
</dict>
</plist>